In [4]:
import pandas as pd
import numpy as np

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Data Gathering and Filtering

In [6]:
imdb_data = pd.read_csv('C:/Dharmil Imp/Projects/IMDB Movie Recommender/IMDB_Data.csv')

In [7]:
imdb_data.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Actors,Plot,Language,Awards,Ratings.Value,Metascore,imdbRating,imdbVotes,imdbID,Production
0,The Shawshank Redemption,1994,R,14-Oct-94,142 min,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,English,Nominated for 7 Oscars. Another 19 wins & 30 n...,9.3/10,80.0,9.3,"1,825,626",tt0111161,Columbia Pictures
1,The Godfather,1972,R,24-Mar-72,175 min,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",Won 3 Oscars. Another 23 wins & 27 nominations.,9.2/10,100.0,9.2,"1,243,444",tt0068646,Paramount Pictures
2,The Godfather: Part II,1974,R,20-Dec-74,202 min,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,"English, Italian, Spanish, Latin, Sicilian",Won 6 Oscars. Another 10 wins & 20 nominations.,9.0/10,85.0,9.0,"856,870",tt0071562,Paramount Pictures
3,The Dark Knight,2008,PG-13,18-Jul-08,152 min,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...,"English, Mandarin",Won 2 Oscars. Another 151 wins & 153 nominations.,9.0/10,82.0,9.0,"1,802,351",tt0468569,Warner Bros. Pictures/Legendary
4,12 Angry Men,1957,APPROVED,1-Apr-57,96 min,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,English,Nominated for 3 Oscars. Another 16 wins & 8 no...,8.9/10,96.0,8.9,"494,215",tt0050083,Criterion Collection

In [8]:
imdb_data.columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Actors', 'Plot', 'Language', 'Awards', 'Ratings.Value', 'Metascore',
       'imdbRating', 'imdbVotes', 'imdbID', 'Production'],
      dtype='object')

In [10]:
imdb_data = imdb_data[['Title','Genre','Director','Actors','Plot']]

In [11]:
imdb_data.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...

In [12]:
imdb_data.Director = imdb_data.Director.str.replace(' ','')
imdb_data.Actors = imdb_data.Actors.str.replace(' ','')

In [13]:
imdb_data.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",FrankDarabont,"TimRobbins,MorganFreeman,BobGunton,WilliamSadler",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",FrancisFordCoppola,"MarlonBrando,AlPacino,JamesCaan,RichardS.Caste...",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",FrancisFordCoppola,"AlPacino,RobertDuvall,DianeKeaton,RobertDeNiro",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",ChristopherNolan,"ChristianBale,HeathLedger,AaronEckhart,Michael...",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",SidneyLumet,"MartinBalsam,JohnFiedler,LeeJ.Cobb,E.G.Marshall",A jury holdout attempts to prevent a miscarria...

In [14]:
imdb_data.tail()

,Title,Genre,Director,Actors,Plot
245,The Lost Weekend,"Drama, Film-Noir",BillyWilder,"RayMilland,JaneWyman,PhillipTerry,HowardDaSilva",The desperate life of a chronic alcoholic is f...
246,Short Term 12,Drama,DestinDanielCretton,"BrieLarson,JohnGallagherJr.,StephanieBeatriz,R...",A 20-something supervising staff member of a r...
247,His Girl Friday,"Comedy, Drama, Romance",HowardHawks,"CaryGrant,RosalindRussell,RalphBellamy,GeneLoc...",A newspaper editor uses every trick in the boo...
248,The Straight Story,"Biography, Drama",DavidLynch,"SissySpacek,JaneGallowayHeitz,JosephA.Carpente...",An old man makes a long journey by lawn-mover ...
249,Slumdog Millionaire,Drama,"DannyBoyle,LoveleenTandan","DevPatel,SaurabhShukla,AnilKapoor,RajZutshi",A Mumbai teen reflects on his upbringing in th...

In [15]:
imdb_data['recommend_solver'] = imdb_data['Genre']+' '+imdb_data['Director']+' '+imdb_data['Actors']+' '+imdb_data['Plot']

In [16]:
imdb_data.drop(['Genre','Director','Actors','Plot'], axis=1,inplace=True)

In [18]:
imdb_data.set_index('Title',inplace=True)

In [19]:
imdb_data.head()

                                                           recommend_solver
Title
The Shawshank Redemption  Crime, Drama FrankDarabont TimRobbins,MorganFr...
The Godfather             Crime, Drama FrancisFordCoppola MarlonBrando,A...
The Godfather: Part II    Crime, Drama FrancisFordCoppola AlPacino,Rober...
The Dark Knight           Action, Crime, Drama ChristopherNolan Christia...
12 Angry Men              Crime, Drama SidneyLumet MartinBalsam,JohnFied...

# Now the Data is ready to apply NLP to it.

In [20]:
count = CountVectorizer()

In [21]:
count_matrix = count.fit_transform(imdb_data['recommend_solver'])

In [22]:
cosine_sim = cosine_similarity(count_matrix,count_matrix)

# Creating the IMDB Movie Recommender

In [29]:
def movie_recommender(title, cosine_sim = cosine_sim):
    recomended_movies = []
    indices = pd.Series(imdb_data.index)
    idx = indices[indices == title].index[0]
    recomend = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    recomend = recomend[1:11]
    top_10_index = recomend.index
    for i in top_10_index:
        recomended_movies.append(list(imdb_data.index)[i])
    return recomended_movies

In [30]:
# Movies similar to:
movie_recommender(title='The Prestige')

['Interstellar',
 'The Deer Hunter',
 'The Departed',
 'Twelve Monkeys',
 'Rio Bravo',
 'A Clockwork Orange',
 'Logan',
 'The Treasure of the Sierra Madre',
 'Magnolia',
 'In the Name of the Father']

In [31]:
def imdb_movie_recommender():
    print('Welcome to IMDB Movie Recomender')
    print('Enter a movie from the IMDB Top Movie List')
    movie_similar = input()
    result = movie_recommender(movie_similar)
    print('\nMovies similar to:', movie_similar)
    print('\nResult:\n\n',result)

In [32]:
imdb_movie_recommender()

Welcome to IMDB Movie Recomender
Enter a movie from the IMDB Top Movie List
The Departed

Movies similar to: The Departed

Result:

 ['A Clockwork Orange', 'The Deer Hunter', 'The Shining', 'The Prestige', 'Chinatown', 'Interstellar', 'Taxi Driver', 'Rio Bravo', 'Magnolia', 'Raging Bull']